/*@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap"); */
/* "Pacifico", cursive; */
@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Righteous&display=swap");
:root {
  --navbarColor: #eddcd2;
  --navbarFont: "Righteous", cursive;
  --logoColor: #0f4c5c;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: var(--navbarFont);
  text-transform: uppercase;
  font-weight: bolder;
}

.navbar {
  background: var(--navbarColor);
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#nav_logo {
  background: #4a4e69;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
}

.nav__menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
}

.nav__item {
  height: 80px;
}

.navbar_links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
}

.nav__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 10px 20px;
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 4px;
  background: #fff;
  color: var(--navbarColor);
}
.button:hover {
  background: #43aa8b;
  transition: all 0.3s ease;
}

.navbar_links:hover {
  color: #43aa8b;
  transition: all 0.3s ease;
}
